# Task1
Write a Python program to add an item to a tuple.

In [63]:
tup1=(1,2,3)
new_item=4
new_tup= tup1 + (new_item,)
print(new_tup)

(1, 2, 3, 4)

# Task2
Write a Python program to sum all the items in a list.

In [64]:
lst=[1,2,3,4,5]
sum(lst)

15

# Task3
Write a Python program to multiply all the items in a list.

In [65]:
lst=[]
product=1
for _ in lst:
    product = product * _

# Task4
Write a Python program to get the smallest number from a list.

In [66]:
lst=[1,2]
print(min(lst))

1

# Task5
Write a Python program to get the largest number from a list.

In [67]:
lst=[1,2]
print(max(lst))

2

# Task6 
Write a Python program to count the number of strings from a given list of 
strings.

In [68]:
lst = ['apple', 'banana', 'cherry', 'date', 'elderberry']
num_strings=0
for _ in lst:
    if isinstance(_, str):
        num_strings += 1 
print(num_strings)

5

# Task7
Write a Python program to clone or copy a list

In [69]:
my_list = [1, 2, 3, [4, 5, 6]]

cloned_list = my_list.copy()

print("Original list:", my_list)
print("Cloned list:", cloned_list)

Original list: [1, 2, 3, [4, 5, 6]]
Cloned list: [1, 2, 3, [4, 5, 6]]

# Task8
Write a Python program to remove item(s) from a given set.

s = set([0, 1, 3, 4, 5])

In [70]:
s = set([0,1,3,4,5])
s.remove(3)
print(s)

{0, 1, 4, 5}

# Task9
Write a Python program to find the maximum and minimum values in a set.

In [71]:
s = set([0,1,3,4,5])
print(max(s))
print(min(s))

5
0

# Task10
Write a Python program to convert a tuple to a dictionary.

In [72]:
tuple=()
dictionery= dict(tuple)

# Task11
Write a Python program to reverse a tuple.

In [73]:
tup=("ahmed",23)
reversed_tupple = tup[::-1]
print(reversed_tupple)

(23, 'ahmed')

# Task12
Write a Python program to convert a list of tuples into a dictionary

In [74]:
list= [(10, 20), (40, 50), (7, 90)]
list=dict(list)

# Task13
Write a Python program to replace the last value of tuples in a list.

Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [75]:
my_list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new_value = 100
for i in range(len(my_list)):
    my_list[i] = my_list[i][: -1] + (new_value,)
print(my_list)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

# Task14
Remove the illegal characters in the variable name:

var_name = "%%6student_name$^$%#"

illegal_chars = "0123456789!@#$%^&*()-+=[]{}|\\;:'\",.<>/?~"

output is "student_name"

In [76]:
var_name = "%%6student_name$^$%#"
illegal_chars = "0123456789!@#$%^&*()-+=[]{}|\\;:'\",.<>/?~"

new_var_name = ''.join(c for c in var_name if c not in illegal_chars)

print(new_var_name)

student_name

# Task15
Write a Python program to print the even and odd numbers in a series of numbers

Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 
    
Expected Output :
    
Number of even numbers : 2,4,6,8
    
Number of odd numbers : 1,3,5,7,9

In [77]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 
evens=[]
odd=[]
for _ in numbers:
    if  _ % 2 ==0:
        evens.append(_)
    else:
        odd.append(_)
print(f"Number of even numbers : {str(evens)}")

Number of even numbers : [2, 4, 6, 8]

# Task16
Write a Python program that iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for multiples of five print "Buzz". For numbers that are multiples of three and five, print "FizzBuzz".

In [78]:
for number in  range(1, 51):
    if number %3 ==0 and number %5 == 0:
        print('fizzbuzz')
    elif number%3==0:
        print("fizz")
    elif number%5==0:
        print("buzz")
    else:
        print(number)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz

# Task17
After you have finished the second session, can you explain briefly what information was learned and also what information you learned through the search?

in the second session we learned  about how to use a datastructuers like tupples, dictionerys, sets and lists. we also learned about  loops and conditional statements.